<div class="form-container">
  <label for="">Choose Employee for whom you want to edit Timesheets</label>
  <select id="choose-emp" >
    <% @employees.each do |employee|%>
      <option value="<%= employee.id %>"><%= employee.name %></option>
    <% end %>
  </select>
  </br>
  <button class="btn" id="get-timesheets"> Get Timesheets</button>
  <a href="/admin/login">
    <button class="btn">Cancel</button>
  </a>
</div>

<div id="timesheet-data">
</div>


<script>

</script>
