<div class="container">
    <div class="row" style="display:inline;">
        <a href="/" class="menu-item">About Us</a>
        <a href="/services" class="menu-item">Services</a>
        <a href="/contact" class="menu-item">Contact</a>
    <div style="display:inline;float:right;">
        <form class="" action="/adminlogin" method="get">
          <button class="btn">Admin Login</button>
        </form>
        <form class="" action="/userlogin" method="get">
          <button class="btn">Employee Login</button>
        </form>
    </div>
    </div>
</div>

<div class="center">
  <hr>
  <span class="contact-info"><strong>East West Guarding Victoria Pty. Ltd</strong></span></br>
  <span class="services-desc">We service all areas of Melbourne VIC & perth WA.</span><hr>
  <span>For all General enquiries please contact our operational manager at eastwestvic@ewgv.com</span></br>
  &#9742;  <span class="contact-detail">0449052711<span>
</div>

<!-- Contact form  -->
<div class="form-container">
  <strong style="font-size:20px">Contact Form</strong></br>
  <form action="/submit" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label>Full name</label>
  <input type="text" name="fname" required="true">
  <label>Email</label>
  <input type="email" name="email" required="true">
  <label>Phone</label>
  <input type="text" name="phone" required="true"></br>
  <label>Enquiry</label>
  <textarea name="enquiry" required="true"></textarea></br>
  <button class = "btn">Submit</button>
  </form>
</div>

<footer class="footer">&copy; East West Guarding Victoria 2016</footer>
