<div class="container">
    <div class="row" style="display:inline;">
        <a href="#" class="menu-item">About Us</a>
        <a href="/services" class="menu-item">Services</a>
        <a href="/contact" class="menu-item">Contact</a>
    <div style="display:inline;float:right;">
        <form class="" action="/adminlogin" method="get">
          <button class="btn">Admin Login</button>
        </form>
        <form class="" action="/userlogin" method="get">
          <button class="btn">Employee Login</button>
        </form>
    </div>
    </div>
</div>

<div class="name">
  <hr>
  <h1 id="company-name">East-West Guarding Victoria</h1>
  <span class="sub-heading">Giving You a Piece of mind</span>
  <hr>
  <%= image_tag("security-services.jpg", :id => "main-img")  %>
</div>

<!-- footer -->
