<!-- Sign up form -->
<div class="form-container">
  Sign Up
  <form class="" action="/admin/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="">Username</label><input type="text" name="username" value="" required="true" minlength="3">
    <label for="">Email</label><input type="email" name="email" value="" required="true">
    <label for="">Password</label><input type = "password" name="password" value="" required="true" minlength="6"><br>
    <button class="btn">Create My Account</button>
    <a href="/"><button class="btn">Cancel</button></a>
  </form>
</div>
