<div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="row" style="display:inline;">
        <a href="/" class="menu-item">About Us</a>
        <a href="/services" class="menu-item">Services</a>
        <a href="/contact" class="menu-item">Contact</a>
    <div style="display:inline;float:right;">
        <form class="" action="/adminlogin" method="get">
          <button class="btn">Admin Login</button>
        </form>
        <form class="" action="/userlogin" method="get">
          <button class="btn">Employee Login</button>
        </form>
    </div>
    </div>

</div>
<div>
  <hr>
  <span class="sub-heading center services-heading">
    We specialize in following</br></br>
  </span>
  <ul class="center">
    <span class="center services-heading" style="font-weight:bold;font-size:18px;">Guard Services</span>Security Officers are carefully screened and selected, meticulously trained, continually monitored and evaluated on an ongoing basis to ensure the professional delivery of our services meets the demands of our clients.
    </br></br>

    <span class="center services-heading" style="font-weight:bold;font-size:18px;">Corporate Services</span>East west Guarding Victoria Pty. Ltd offers a variety of Corporate Security Services including concierge & reception personnel.</br>
    Servies includes</br>
    Securing of premises</br>
    Responding to emergencies, maintaining order & safety</br>
    Coordinating lift functions</br>
    Supervising deliveries</br>
    Managing noise complaints</br>
    ​Monitoring of the surveillance systems</br>
    Asset protection</br></br>

    <span class="center services-heading" style="font-weight:bold;font-size:18px;">Event Security</span>While security can prove to be a challenging aspect of successful event management, East west Guarding Victoria Pty. Ltd has extensive experience in event security management and a proven ability to undertake and manage all security related risks.</br>
    Servies includes </br>
    Outdoor Concerts</br>
    Music Festivals</br>
    Athletic Carnivals</br>
    Corporate Events</br>

  </ul>
</div>
