<div class="row main-row">
  <form  action="" method="get">
    <button class="btn">My Work Sites</button>
  </form>
  <form  action="" method="get">
    <button class="btn">Check Hours</button>
  </form>
  <form  action="/site/new" method="get">
    <button class="btn">My TimeSheets</button>
  </form>
</div>
