<!-- Form to display Site employees -->
<div class="row">
  <div class="main-row">
    <h3>Employees working at <%= @site.site_name %></h3>
  </div>
  <ol class="employee-list">
    <% @employees.each do |employee| %>
    <li><%= employee.name %></li>
    <% end %>
  </ol>
  <div class="center">
    <a href="/admin/login">
      <button class="btn">Go Back</button>
    </a>
  </div>
</div>
