#logout-btn {
  float: right;
}

.main-row {
  padding: 10px 10px;
  background-color: #EAD1CE;
}

.row-btn {
  padding: 0 10px;
}
table {
  margin: 0 auto;
}
h3 {
  text-align: center;
  padding-top: 15px;
}
footer {
  padding-top: 8px;
  padding-bottom: 8px;
  // background-color: $darkest-color;
}
.form-div {
  text-align: center;
}

.menu-item {
  padding: 0 15px;
}
